<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <display-name>Jetty Prop Explorer</display-name>
  
  <servlet>
    <servlet-name>props</servlet-name>
    <servlet-class>org.eclipse.demo.PropsServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>props</servlet-name>
    <url-pattern>/props/*</url-pattern>
  </servlet-mapping>
</web-app>